
/* div:hover {
  background-color: lightcoral;
} */
 
/* 
div:not(.not) {
  background-color: lightblue;
} */

/* section:has(div:hover) {
  border: 2px solid red;
} */

/* div:nth-child(3) {
  background-color: lightblue;
} */

/* div::first-letter {
  font-size: 40px;
} */

div { 
  position: relative;
}
div::before {
  content: "";
  height: 6px;
  width: 2px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}