<<<<<<< HEAD
/* color
text-transform
text-decoration */

p{
    text-transform: lowercase;
    text-transform: lowercase;
    text-transform: none;
}

mark {
    color: red;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    text-decoration: red underline;
    /* text-decoration: underline; */
    /* text-decoration: overline red; */
    /* text-decoration: line-through ; */

=======
/* color
text-transform
text-decoration */

p{
    text-transform: lowercase;
    text-transform: lowercase;
    text-transform: none;
}

mark {
    color: red;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    text-decoration: red underline;
    /* text-decoration: underline; */
    /* text-decoration: overline red; */
    /* text-decoration: line-through ; */

>>>>>>> 07867293074af696b5e573a3ddd66af1bd12d985
}