<<<<<<< HEAD
div, span {
    border: solid red 10px;
    width: 200px;
    max-width: 350px;
    min-width: 200px; 
  /*  height: 50px; */
=======
div, span {
    border: solid red 10px;
    width: 200px;
    max-width: 350px;
    min-width: 200px; 
  /*  height: 50px; */
>>>>>>> 07867293074af696b5e573a3ddd66af1bd12d985
}