<<<<<<< HEAD
p {
    font-size: 20px;
    text-align: justify;
    line-height: 0.9;
=======
p {
    font-size: 20px;
    text-align: justify;
    line-height: 0.9;
>>>>>>> 07867293074af696b5e573a3ddd66af1bd12d985
}