<<<<<<< HEAD
div, span {
    border: solid red;
    width: 50%;
}
.magin {
margin: 30px;
    
=======
div, span {
    border: solid red;
    width: 50%;
}
.magin {
margin: 30px;
    
>>>>>>> 07867293074af696b5e573a3ddd66af1bd12d985
}